/**
 * Custom CSS
 *
 * Add this to your Tailwind CSS file,
 * or to a separate, custom CSS file.
 *
 * Update the background images to suit
 * your project.
 */
.bg-header {
  background: url(images/redcarpet.jpg) center center no-repeat;
  background-attachment: fixed;
}

.bg-quote {
  background: url(images/demo.jpg) center center no-repeat;
  background-attachment: fixed;
}

/*Load custom Fonts*/
.font-serif{
  font-family: 'Cantata One', serif;

}
.font-sans{
  font-family: 'Sarala', sans-serif;